<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>لوتوس - {{ pageTitle }}</title>
</head>
<body>
<div style="text-align: center;direction: rtl;font-family: system-ui;font-size: 20px;">
    <p>لایسنس شما فعال نمی باشد.</p>
    <p>برای خرید لایسنس می توانید از طریق لینک زیر اقدام نمایید.</p>
    <p><b>نکته: در صورتی که لایسنس خریداری شده دارید، میتوانید با پشتیبانی نرم افزار در ارتباط باشید.</b></p>
    <p><a href="http://127.0.0.1:8080/user/info/?mac={{ hwid }}">برای خرید لایسنس کلیک کنید.</a></p>
    <p><a href="https://lotusiot.ir/">برای ارتباط با پشتیبانی کلیک فرمایید.</a></p>
</div>
</body>
</html>
