@font-face {
    font-family: IranSansB;
    src: url('/static/fonts/fnt/IRANSansX-Bold.ttf') format('truetype');
    
}

@font-face {
    font-family: IranSansR;
    src: url('/static/fonts/fnt/IRANSansX-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: IranNataliq;
    src: url('/static/fonts/fnt/IranNataliq.ttf') format('truetype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .rtl{
        direction: rtl;
    }
}


